:root {
    --monospace: operator mono, sfmono-regular, Consolas, liberation mono, Menlo, Courier, monospace;
    --black: #000000;
    --dark_blue: #1D2B53;
    --dark_purple: #7E2553;
    --dark_green: #008751;
    --brown: #AB5236;
    --dark_grey: #5F574F;
    --light_grey: #C2C3C7;
    --white: #FFF1E8;
    --red: #FF004D;
    --orange: #FFA300;
    --yellow: #FFEC27;
    --green: #00E436;
    --blue: #29ADFF;
    --lavender: #83769C;
    --pink: #FF77A8;
    --light_peach: #FFCCAA;
    --animation-duration-slow: 0.4s;
}

.flex-container {display: flex; align-items: center;}

.h-icon {
    max-width: 64px;
    vertical-align: middle;
    margin-right: 16px;
}
.h-icon-16px {
    width: 16px; height: 16px; margin: 0 8px;
}
/* matches the parent containers size */
.h-icon-em { width: 1em; height: 1em; margin-right: 0.5em; }
.h-middle { vertical-align: middle;}


/* NAVBAR STYLING STARTS */
.navbar {
    /* forces the navbar to be in fixed position */
    position: fixed;
    background-color: var(--background-alt);
    transition: width 200ms ease;
    overflow: hidden;
    z-index: 255;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-bright);
    text-decoration: none;
}

.nav-link:hover {
    background: var(--focus);
    color: var(--text-bright);
    text-decoration: none;
}

.logo {
    width: 100%;
    margin-bottom: 2rem;
    background: var(--blue);
    letter-spacing: 0.3ch;
    list-style: none;
}

.navbar:hover .logo-snail {
    transform: scaleX(-1);
    transition: transform var(--animation-duration-slow);
}

.link-text,
.home-logo,
#page-logo {
    display: none;
}

#page-logo {
    max-width: 146px;
    align-self: center;
}

.link-text {
    margin-left: 1rem;
    font-weight: bold;
}

.link-text:hover {
    text-decoration: none;
}

.nav-link svg {
    min-width: 32px;
    max-width: 32px;
    margin: 0 24px;
}

@media print {
    nav {
        display: none;
    }
}


/* large screen */

@media only screen and (min-width: 600px) {
    /* main,
    footer {
        margin-left: 5rem;
    } */
    main {
        margin-left: 5rem;
    }
    .navbar {
        top: 0;
        left: 0;
        position: fixed;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 18rem;
    }
    .navbar:hover .link-text, 
    .navbar:hover .home-logo,
    .navbar:hover #page-logo {
        display: inline;
    }
    .navbar:hover .logo-snail{
        margin-left: -1rem;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
}

/* small screen */

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 3.5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    .link-text {
        display: block;
    }
}

/* PAGINATION  */

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* entry list */

.round-box {
    background: var(--background-alt);
    padding: 1rem;
    border-radius: 0.5rem;
}

main article {
    margin-bottom: 1rem;
}

.post-meta {
    color: var(--text-muted);
    font-style: italic;
    margin: 0;
    font-size: 14px;
}

.excerpt {
    margin: 10px 0;
}

/* 
ADMOTION 
https://github.com/lektor/lektor-markdown-admonition
*/

div.admonition {
    margin: 15px 0;
    background: var(--background-alt);
    padding: 10px 15px;
    padding-bottom: 0;
    padding-bottom: 0.8rem;
  }

div.admonition::before {
	margin: -10px -15px 10px;
	padding: 10px 15px;
	line-height: 1rem;
	display: block;
	content: "";
	font-weight: 700;
	font-size: 1rem;
}

div.admonition.admonition-note {
  border: 1px solid var(--lavender);
}

div.admonition.admonition-note::before {
  content: "Note";
  background: var(--lavender);
}

div.admonition.admonition-info {
  border: 1px solid var(--dark_blue);
}

div.admonition.admonition-info::before {
  content: "Info";
  background: var(--dark_blue);
}

div.admonition.admonition-tip {
  border: 1px solid var(--pink);
}

div.admonition.admonition-tip::before {
  content: "Tip";
  background: var(--pink);
}

div.admonition.admonition-warning {
  border: 1px solid var(--red);
}

div.admonition.admonition-warning::before {
  content: "Warning";
  background: var(--red);
}

.tag-link {
    /* background: var(--background-alt); */
    padding: 4px 4px;
    color: var(--form-text);
    background-color: var(--button-base);
    margin-right: 0.25em;
    border-radius: 3px;
}