a {
    color: var(--blue);
}

a:visited {
    color: var(--gray);
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2,
h3,
h4,
h5 {
    color: var(--red);
}

hr{

  color: var(--white);
  margin-top: 1em;
  margin-bottom: 1em;
}

#banner a, p, h1{
    text-align: center;
}

#banner h1{
    margin-top: 1em;
}


footer {
    text-align: center;
}

img {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: block;
}

code {
    color: var(--red);
}

pre code {
    background: var(--dark_blue);
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: scroll;
}

.codehilite {

}

.codehilite .c1 {
    color: var(--pink);
}

#postlist li a {
    color: var(--red);
    text-decoration: none;
}

#postlist *:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    a {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    h2 {
        color: inherit;
    }
    code {
        color: forestgreen;
    }
}

@media print {
    a[href] {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 55em) {
    #postlist {
        column-count: 1;
    }
}

@media (min-width: 100em) {
    #postlist {
        column-count: 2;
    }
}