a {
    color: var(--blue);
}

a:visited {
    color: var(--gray);
}

a:hover {
    text-decoration: underline;
}


h2,
h3,
h4,
h5 {
    color: var(--red);
}

h1{
    margin-top: 0.5em;
}

.banner{
    margin-top: 0.5;
	text-align: center;
	text-transform: unset;
    text-decoration: None;
}   

hr{

  color: var(--white);
  margin-top: 1em;
  margin-bottom: 1em;
}


footer {
    margin-top: 1em;
    text-align: center;
	border-top: 1px solid var(--white);
	padding-top: 1em;
	width: auto;
	max-width: none;
/* 	font-size: smaller; */
}

.footer-links, .footer-engine{
    margin: 0 0 0.2em 0;
    text-align: inherit;
}

.artice-footer-meta{
    margin-top: 1.5em;
    font-style: italic;

}
.artice-footer-meta strong{
    padding-right: 1em;
}

img {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: block;
}

code {
    color: var(--red);
}

pre code {
    background: var(--dark_blue);
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: scroll;
}

.codehilite {

}

.codehilite .c1 {
    color: var(--pink);
}

#postlist {
    margin: 1em;
    
}

#postlist li a {
    text-decoration: none;
    font-weight: 800;
    display: block;

}


#postlist *:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    a {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    h2 {
        color: inherit;
    }
    code {
        color: forestgreen;
    }
}

@media print {
    a[href] {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 55em) {
    #postlist {
        column-count: 1;
    }
}

@media (min-width: 100em) {
    #postlist {
        column-count: 2;
    }
}