@import "/data/css/pygments.css";
:root {
    --black: #000000;
    --dark_blue: #1D2B53;
    --dark_purple: #7E2553;
    --dark_green: #008751;
    --brown: #AB5236;
    --dark_grey: #5F574F;
    --light_grey: #C2C3C7;
    --white: #FFF1E8;
    --red: #FF004D;
    --orange: #FFA300;
    --yellow: #FFEC27;
    --green: #00E436;
    --blue: #29ADFF;
    --lavender: #83769C;
    --pink: #FF77A8;
    --light_peach: #FFCCAA;
}

body {
    background: var(--black);
    color: var(--white);
    max-width: 800px;
    margin: auto;
    padding: 0 16px;
    margin-bottom: 500px;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: var(--blue);
}

ul {
    list-style-type: square;
}

a:visited {
    color: var(--gray);
}

h1 {
    text-align: center;
}

h2,
h3,
h4,
h5 {
    color: var(--red);
}

footer {
    text-align: center;
}

img {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: block;
}

code {
    color: var(--red);
}

pre code {
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: scroll;
}

.codehilite {
    background: var(--dark_blue);
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: scroll;
}

.codehilite .c1 {
    color: var(--pink);
}

.postlist a {
    text-decoration: none;
}


/* Comment.Single */

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    a {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    h2 {
        color: inherit;
    }
    code {
        color: forestgreen;
    }
}

@media print {
    a[href] {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 55em) {
    #postlist {
        column-count: 1;
    }
}

@media (min-width: 100em) {
    #postlist {
        column-count: 2;
    }
}