:root {
    --black: #000000;
    --dark_blue: #1D2B53;
    --dark_purple: #7E2553;
    --dark_green: #008751;
    --brown: #AB5236;
    --dark_grey: #5F574F;
    --light_grey: #C2C3C7;
    --white: #FFF1E8;
    --red: #FF004D;
    --orange: #FFA300;
    --yellow: #FFEC27;
    --green: #00E436;
    --blue: #29ADFF;
    --lavender: #83769C;
    --pink: #FF77A8;
    --light_peach: #FFCCAA;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}



html {
    margin: 0 auto;
}


a {
    color: inherit;
    text-decoration: underline;
}


dt {
    margin-top: 1em;
    font-weight: bold;
}

html, body {
    background: var(--black);
    color: var(--white);
    max-width: 800px;
    font-size: 16px;
    line-height: 1;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 200px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

/* List item normalization */

ul,ol,dl,p {
  font-size: 1rem;
}

dd, dt, li, p {
  line-height: 1.3;
}

dt {
  font-weight: bold;
}

dd{
    margin-left: 2rem;
}

ul, ol{
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 0;

}

ul li {
    list-style: square;
}

/* ul li::before {
    position: absolute;
    content: "♦";
    left: -0.7em;
} */

ol{
    list-style-position: inside;
}

/* list settings */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.3;
}


/* global header styles */
header h1{
    margin-top: 1rem;
	font-size: 3.4rem;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
/* 	font-style: italic; */
}

header q{

	text-align: center;
	font-size: 1.12rem;
	font-style: italic;
}


/* FOR FOOTER */

body {
    margin-bottom: 2rem;
}

.line{
    margin-top: 1rem;
	border-top: 1px solid var(--white);
	width: auto;
	max-width: none;
}