section {
	box-sizing: border-box;
	padding: 0;
	max-width: 40em;
	margin: 1rem auto;
}


@media (min-height: 5.863in) and (min-width: 7in) {
	body {
		text-align: center;
		max-width: 12in;
		margin-left: auto;
		margin-right: auto;
	}
	section {
		width: 46%;
		text-align: left;
		vertical-align: top;
		display: inline-block;
	}
}


h2 {
	padding: 0 0.3em;
	font-size: 1.17rem;
	font-weight: 500;
	text-align: center;
}

#art {
	position: relative;
	width: 2.884in;
	height: 5.863in;
	margin: 0 auto 0.2in;
	background-image: url("/data/img/landing-art.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#art::after {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	text-align: center;
	font-size: x-small;
}


#resume h3 a{
	font-size: initial;
	font-weight: initial;
	
}

ul{
	margin: 1em;
}
